<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test</title>
  </head>
  <body>
    SVC CMS Project Index Page
    Next step is figuring out how EJS works
    and setting up a database
  </body>
</html>
