<!--Filename: about.ejs
    Author: Jazmine Kennedy
    Description: Should be able to make changes to the about page from here. -->

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
    
    <header>
        <% include ../partials/header %>
    </header>
    
    <main>
        <div class="jumbotron">
            <h1>To Edit The About Page</h1>
            <p>Let's think about how this should be done..</p>
    </main>
    
    <footer>
      <% include ../partials/footer %>
    </footer>
    
    </body>
    </html>
    