<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
        <script type="text/javascript" src="/javascript/article.js"></script>
    </header>
	<main>
    <div class="row">

        <div class="col-sm-7">
            <div class="jumbotron">
              <h3><p class="text-center">Submit New Article</p></h3>
                  <form method="POST" action="/article/submitArticle">
                    <div class="form-group">
                            <label for="articleTitle">Article Title:  </label>
                            <input type="text" class="form-control" name="articleTitle" id="articleTitle">
                    </div>
                    <div class="form-group">
                            <label for="articleAuthor">Article Author:  </label>
                            <input type="text" class="form-control" name="articleAuthor" id="articleAuthor">
                    </div>
                    <div class="form-group">
                            <label for="articleContent">Article Content:  </label>
                            <textarea class="form-control" name="articleContent" id="articleContent" rows="8"></textarea>
                    </div>
                    <div class="form-group">
                            <label for="articleDate">Article Date:  </label>
                            <input type="date" class="form-control" name="articleDate" id="articleDate">
                    </div>
                    <div class="form-group">
                        <label for="articleImage">Article Image:  </label>
                        <input type="file" class="form-control" name="articleImage" id="articleImage">
                    </div>
                      <p class="text-center"><button type="submit" class="btn">Submit Article</button></p>
                  </form>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="jumbotron" id="articlePreview"></div>
        </div>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
  </body>
</html>
