<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="javascript/customermessages.js"></script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>Customer Messagess</h1>
                <p>This page contains customer messages</p>
                <p id="messages"></p>
            </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script>
</script>
</body>
</html>