<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
        <script type="text/javascript" src="/javascript/jobPostings.js"></script>
    </header>
	<main>
            <div class="jumbotron col-sm-7">
                <h1>Create a Job Posting</h1>
                <p>Type in the information you would like to post, then click Post.</p>
                <form method="POST" action="/jobpostings/submitjobposting" >
                    <fieldset><legend>Create your job here:</legend>
                        <div class="form-group">
                            <label for="articleTitle">Job Title:  </label>
                            <input type="text" class="form-control" name="jobTitle" id="jobTitle">
                        </div>
                        <div class="form-group">
                                <label for="articleContent">Job Description:  </label>
                                <textarea class="form-control" name="jobDescription" id="jobDescription" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                                <label for="articleContent">Job Requirements:  </label>
                                <textarea class="form-control" name="jobRequirements" id="jobRequirements" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="is_active">Publish to Database:  </label>
                            <input type="checkbox" class="form-control" name="is_active" id="is_active" ></textarea>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Submit Job Posting</button>
                </form>
            </div>
        <div class="col-sm-5">
            <div class="jumbotron" id="jobPreview"></div>
        </div>
    </div>
</main>




<footer>
    <% include ../partials/footer %>
</footer>
  </body>
</html>
