<!-- views/pages/post.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Post to the Website</h1>
        <p>Type in the information you would like to post, then click Post.</p>

    <!--Here begins the start of the Post Making form-->
    <form>
    <fieldset><legend>Create your post here:</legend>
      <!-- Box to select what kind of post will be made -->
      <div class="form-group">
        <label for="exampleFormControlSelect1">Type of Post:</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Blog</option>
          <option>Article</option>
          <option>Press Release</option>
          <option>News</option>
          <option>Job Listing</option>
        </select>
      </div>
      <!-- Box for uploading content that is a file on the computer -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Upload From Computer</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
      <!-- Box for post title -->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"><b>Title</b></span>
        </div>
        <input type="text" name="title" class="form-control" placeholder="Enter your content title" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div><br>

    <!--Below is the box for Post Body-->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><b>Post Content</b></span>
        </div>
        <textarea name="postbody" class="form-control" placeholder="Type your content body here"aria-label="Default"></textarea>
      </div><br>
    </fieldset>
      <button type="submit" class="btn btn-primary">Post</button><br>
    </form>
  </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
